body {
    background: rgb(63,198,251) !important;
    background: radial-gradient(circle, rgba(63,198,251,1) 0%, rgba(231,252,70,0.9906163148853291) 100%) !important;
    text-align: center !important;
}

h1 {
    padding-top:70px;
    padding-bottom: 70px;
    font-size: 47px !important;
}
h2 {
    
    
    margin-top:10px;
    padding-top:20px;
    font-size: 48px !important;
}

h3 {
    color:red;
    font-size: 48px !important;
    margin-top:100px !important;
    margin-left: auto  !important;
    margin-right: auto  !important;
}
